page-info {
    #map {
        height: 50%;
        width: 100%;
    }
    .deskripsi{
        // text-indent: 30px;
        white-space: pre-line;
        text-align: justify;
        line-height: 25px;
    }
    .meja{
        border: 1px solid black;
    }
}
